@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #2e2e2e;
  --bg-color: #fff;
  --shadow-color: #cccccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --bg-color: #161616;
    --shadow-color: #0b0b0b;
  }
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}
